<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="/dist/main.css"/>
        <link rel="manifest" href="<%= manifest_path %>"/>

        <!-- icons -->
        <link rel="icon" href="/images/favicon.png" sizes="16x16"/>
        <link rel="icon" href="/images/favicon-2x.png" sizes="32x32"/>
        <link rel="icon" href="/images/favicon.ico"/>

        <!-- Apple shit -->
        <link rel="apple-touch-icon" href="/images/ios.png" sizes="512x512">
        <link rel="apple-touch-icon" href="/images/ios-80.png" sizes="80x80">
        <link rel="apple-touch-icon" href="/images/ios-192.png" sizes="192x192">

        <meta name="apple-mobile-web-app-title" content="Co Jedzie?">
        <meta name="apple-mobile-web-app-capable" content="yes">

        <meta name="theme-color" content="white"/>

        <title>Co Jedzie?</title>

        <% if (gtm_tracking) { %>
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','<%= gtm_tracking %>');</script>
        <!-- End Google Tag Manager -->
        <% } %>
    </head>
    <body>
        <noscript>
            <% if (gtm_tracking) { %>
            <!-- Google Tag Manager (noscript) -->
            <iframe src="https://www.googletagmanager.com/ns.html?id=<%= gtm_tracking %>"
                    height="0" width="0" style="display:none;visibility:hidden"></iframe>
            <!-- End Google Tag Manager (noscript) -->
            <% } %>
            <div class="container">
                <div class="alert alert-danger">
                    Aplikacja wymaga do działania obsługi JavaScriptu.
                </div>
            </div>
        </noscript>
        <main id="root" class="container not-ready">
        </main>
        <footer class="container">
            <span>
                <img src="images/logo.png" alt="co jedzie logo"/>
                v.<%= version %> &bullet;
                <a href="/api/doc">API</a>
            </span>
            <span class="copyright flex flex-space-left justify-content-end">
                <a href="https://kadet.net"><img src="images/kadet-net-logo.png" alt="kadet.net logo" class="mx-1"/></a>
                &copy; <%= year %>
            </span>
        </footer>
        <script src="/dist/main.js"></script>
    </body>
</html>
